In [43]:
import pandas as pd
import numpy as np
import keras
from keras.models import Sequential
from keras.layers import Dense
from sklearn.model_selection import train_test_split

In [44]:
# load preprocessed train dataset
df_train = pd.read_csv('titanic_train_preprocessed2.csv')

# create matrix of the features (X) and target (y)
X = df_train.drop('Survived',axis=1) # values used for prediction
y = df_train['Survived'] # values to be predicted

# split data from "titanic_train_preprocessed.csv" to training data (80%) and testing data (20%)
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [45]:
model = Sequential()
model.add(Dense(256, input_shape=(18,), activation='relu'))
model.add(Dense(256, activation='relu'))
model.add(Dense(1, activation='sigmoid'))
model.compile(loss='binary_crossentropy', optimizer='adam', metrics=['accuracy'])
training = model.fit(X_train, y_train, epochs=100, batch_size=8, validation_split=0.2, verbose=0)

In [46]:
val_acc = np.mean(training.history['accuracy'])
print("\n%s: %.2f%%" % ('val_acc', val_acc*100))

val_acc: 85.52%

In [47]:
# once happy with the model accuracy, fit it on all data
model.fit(X, y, epochs=100, batch_size=8, validation_split=0.2, verbose=0)

In [48]:
X_pred = pd.read_csv('titanic_test_preprocessed2.csv')
X_pred.replace([np.inf, -np.inf], np.nan, inplace=True) # becaouse of error NaN/inf
X_pred.fillna(999, inplace=True) # becaouse of error NaN/inf
X_pred

,Age,SibSp,Parch,Fare,Relatives,Age_Class,Female,Male,Master,Miss,Mr,Mrs,Class 1,Class 2,Class 3,EmbarkC,EmbarkQ,EmbarkS
0,0.452723,0.000,0.000000,0.015282,0.0,0.569037,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0
1,0.617566,0.125,0.000000,0.013663,0.1,0.776231,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0
2,0.815377,0.000,0.000000,0.018909,0.0,0.682303,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0
3,0.353818,0.000,0.000000,0.016908,0.0,0.444721,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0
4,0.287881,0.125,0.111111,0.023984,0.2,0.361843,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
413,0.396975,0.000,0.000000,0.015713,0.0,0.498966,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0
414,0.512066,0.000,0.000000,0.212559,0.0,0.212664,1.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,1.0,0.0,0.0
415,0.505473,0.000,0.000000,0.014151,0.0,0.635339,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0
416,0.396975,0.000,0.000000,0.015713,0.0,0.498966,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0
417,0.396975,0.125,0.111111,0.043640,0.2,0.498966,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0

In [49]:
# X_pred_convert = np.nan_to_num(X_pred) # conversion, otherwise y_pred throws an error
# X_pred_convert = np.asarray(X_pred_convert).astype(np.float32)

In [50]:
y_pred_all = model.predict(X_pred)
#predicted_data = pd.DataFrame(y_pred_all)
np.set_printoptions(suppress=True)
y_pred_all

14/14 [==============================] - 0s 2ms/step

array([[0.01179855],
       [0.00008629],
       [0.00003242],
       [0.13591999],
       [0.39025643],
       [0.09952015],
       [0.7389188 ],
       [0.0018392 ],
       [0.99889845],
       [0.00044949],
       [0.14825407],
       [0.28266147],
       [0.9998101 ],
       [0.00000269],
       [1.        ],
       [1.        ],
       [0.0000478 ],
       [0.2678329 ],
       [0.0080446 ],
       [0.00000037],
       [0.8367143 ],
       [1.        ],
       [1.        ],
       [0.799165  ],
       [1.        ],
       [0.00000173],
       [0.99999875],
       [0.2227307 ],
       [0.3449966 ],
       [0.00022825],
       [0.00025041],
       [0.00055765],
       [0.80887   ],
       [0.83556557],
       [0.76579666],
       [0.26309708],
       [0.03097962],
       [0.5838375 ],
       [0.12875561],
       [0.8195945 ],
       [0.00034812],
       [0.5629454 ],
       [0.06573266],
       [0.9989218 ],
       [1.        ],
       [0.12482071],
       [0.34316325],
       [0.04125755],
       [1.        ],
       [0.09629517],
       [0.24149461],
       [0.34298426],
       [0.99997324],
       [1.        ],
       [0.27212888],
       [0.00000001],
       [0.17151748],
       [0.12420167],
       [0.00276236],
       [1.        ],
       [0.0994273 ],
       [0.1334764 ],
       [0.10138039],
       [0.72563285],
       [0.99999994],
       [0.9993648 ],
       [0.6895369 ],
       [0.07996209],
       [0.4015814 ],
       [1.        ],
       [0.74550277],
       [0.11103491],
       [0.07007381],
       [0.37101835],
       [1.        ],
       [0.00000138],
       [0.14873789],
       [1.        ],
       [0.1297359 ],
       [0.74550277],
       [1.        ],
       [0.9988483 ],
       [0.21430862],
       [0.14825407],
       [0.00009885],
       [0.00034462],
       [0.7705286 ],
       [0.6227128 ],
       [0.72684216],
       [1.        ],
       [0.45868567],
       [0.14787596],
       [0.41411608],
       [0.14873789],
       [0.3072949 ],
       [0.12452956],
       [1.        ],
       [0.14283395],
       [0.60613704],
       [0.16135006],
       [1.        ],
       [0.2160715 ],
       [0.04125755],
       [0.12868765],
       [0.45467353],
       [0.22019824],
       [0.05667093],
       [0.04125755],
       [0.15083139],
       [0.1031933 ],
       [0.00803929],
       [0.726817  ],
       [0.01334747],
       [0.6919623 ],
       [1.        ],
       [0.2159797 ],
       [0.00419753],
       [0.90068096],
       [0.16560847],
       [0.8683942 ],
       [0.9298572 ],
       [0.00162062],
       [1.        ],
       [0.13672416],
       [0.04125755],
       [0.44857386],
       [0.11430737],
       [0.9999781 ],
       [0.12787727],
       [0.1218907 ],
       [0.1563004 ],
       [0.22116278],
       [0.08872893],
       [0.00028339],
       [0.01323733],
       [0.12145901],
       [0.07577117],
       [0.11753929],
       [0.5093645 ],
       [0.        ],
       [0.02197452],
       [1.        ],
       [0.00002883],
       [0.1308057 ],
       [0.36539578],
       [0.00000165],
       [0.18574595],
       [0.11481347],
       [0.5629454 ],
       [0.00109412],
       [1.        ],
       [0.00414304],
       [0.00000002],
       [0.11224684],
       [0.00003447],
       [0.12079093],
       [1.        ],
       [0.50912446],
       [0.36539578],
       [0.50295603],
       [0.7268565 ],
       [1.        ],
       [0.8008281 ],
       [0.14546908],
       [0.12917896],
       [0.60455316],
       [0.19908533],
       [0.00012032],
       [1.        ],
       [0.55464774],
       [0.14717382],
       [0.05076542],
       [0.07987269],
       [0.00416792],
       [0.00000003],
       [0.9999672 ],
       [0.8395702 ],
       [0.89035875],
       [0.99998236],
       [1.        ],
       [0.1297359 ],
       [0.27307448],
       [0.95520884],
       [0.04125755],
       [1.        ],
       [0.13203394],
       [0.84727   ],
       [0.00141194],
       [0.00001357],
       [0.13049187],
       [0.12205607],
       [0.56235754],
       [0.9995169 ],
       [0.00002606],
       [1.        ],
       [0.16056035],
       [1.        ],
       [0.6225176 ],
       [0.10544239],
       [0.26738974],
       [0.71968913],
       [1.        ],
       [0.00755889],
       [0.9999788 ],
       [0.11107269],
       [0.38510972],
       [0.38158786],
       [0.10764145],
       [0.08557431],
       [0.12475486],
       [0.27040038],
       [0.14562337],
       [0.01044127],
       [1.        ],
       [0.13585524],
       [0.18878452],
       [0.72673106],
       [0.13383336],
       [1.        ],
       [0.14873789],
       [1.        ],
       [0.11133376],
       [0.9645762 ],
       [0.11084151],
       [1.        ],
       [0.15203826],
       [0.11800548],
       [0.72684216],
       [0.06547263],
       [0.13427769],
       [0.01546445],
       [0.9994312 ],
       [0.22918884],
       [0.04108106],
       [0.75031656],
       [0.10761042],
       [0.14549749],
       [0.27423674],
       [0.9942525 ],
       [1.        ],
       [1.        ],
       [1.        ],
       [0.00074026],
       [0.1482281 ],
       [0.01471582],
       [0.22973542],
       [0.9708466 ],
       [0.00002628],
       [0.8683942 ],
       [0.00018022],
       [1.        ],
       [0.10774381],
       [0.00058441],
       [0.12473425],
       [0.16441897],
       [0.1471738 ],
       [0.04125755],
       [0.13903691],
       [0.832107  ],
       [0.11080127],
       [0.00023545],
       [0.1109544 ],
       [0.97335607],
       [0.903062  ],
       [0.2980311 ],
       [0.14825407],
       [0.4123654 ],
       [0.14717382],
       [0.03097962],
       [0.10061952],
       [0.03375023],
       [0.04125755],
       [1.        ],
       [0.97638685],
       [0.00416808],
       [0.81746465],
       [0.12175619],
       [0.01595473],
       [0.20793827],
       [0.10370966],
       [0.51011515],
       [0.99999684],
       [0.72684216],
       [0.9090439 ],
       [0.8786815 ],
       [0.17441808],
       [0.14624192],
       [0.15597667],
       [0.00416792],
       [0.14873789],
       [0.38101786],
       [0.73949915],
       [0.00416792],
       [0.00941227],
       [0.18495728],
       [0.12901531],
       [1.        ],
       [0.00022825],
       [0.27408195],
       [0.1426192 ],
       [0.15541662],
       [0.2762466 ],
       [0.03072112],
       [0.12324968],
       [0.72684216],
       [1.        ],
       [0.14907733],
       [1.        ],
       [0.02152892],
       [0.00019551],
       [0.10299464],
       [0.24480334],
       [0.14725171],
       [0.20416465],
       [1.        ],
       [0.6871622 ],
       [0.00165447],
       [0.10111382],
       [0.13361475],
       [0.00079247],
       [0.12868765],
       [0.13180202],
       [0.11753929],
       [0.5459143 ],
       [1.        ],
       [0.11646842],
       [0.9999988 ],
       [0.02430666],
       [0.21426529],
       [0.10486617],
       [1.        ],
       [0.42129064],
       [0.00416808],
       [0.20992957],
       [0.13373114],
       [0.56278366],
       [0.13283683],
       [0.0061297 ],
       [0.1205274 ],
       [1.        ],
       [0.10117079],
       [0.15478987],
       [0.00000016],
       [1.        ],
       [0.6603279 ],
       [0.58206517],
       [0.11753929],
       [0.00004959],
       [0.11107904],
       [0.7970132 ],
       [0.9999997 ],
       [0.11107269],
       [0.011532  ],
       [0.00000016],
       [0.99047613],
       [0.17532448],
       [1.        ],
       [0.14820206],
       [0.04125755],
       [0.5406528 ],
       [0.        ],
       [1.        ],
       [0.99959993],
       [0.13591999],
       [1.        ],
       [0.11458431],
       [0.00034466],
       [0.61067045],
       [0.9999995 ],
       [0.32451224],
       [0.18369435],
       [1.        ],
       [0.3115015 ],
       [0.12558766],
       [1.        ],
       [1.        ],
       [0.00246985],
       [0.10341252],
       [0.00227779],
       [0.00657521],
       [0.04125755],
       [0.05694773],
       [0.2940587 ],
       [0.35306957],
       [0.13025871],
       [0.9996083 ],
       [0.12128477],
       [0.2046127 ],
       [0.05662141],
       [0.00205514],
       [0.0132517 ],
       [1.        ],
       [0.99999994],
       [0.12686099],
       [0.00000357],
       [0.96083945],
       [0.05737503],
       [0.9999995 ],
       [0.11426603],
       [0.03613915],
       [1.        ],
       [0.04884486],
       [0.99999833],
       [0.20141602],
       [0.96109056],
       [0.18865877],
       [0.18979551],
       [0.00219773],
       [0.7268672 ],
       [0.85731477],
       [0.72684216],
       [1.        ],
       [0.12554008],
       [0.14873789],
       [1.        ],
       [0.17650524],
       [0.14873789],
       [0.8909575 ]], dtype=float32)

In [51]:
y_pred_all = [0 if i <=0.5 else 1 for i in y_pred_all]
y_pred_all

[0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 1,
 0,
 0,
 0,
 1,
 0,
 1,
 1,
 0,
 0,
 0,
 0,
 1,
 1,
 1,
 1,
 1,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 1,
 0,
 0,
 1,
 0,
 1,
 0,
 1,
 0,
 1,
 1,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 1,
 1,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 1,
 1,
 1,
 1,
 0,
 0,
 1,
 1,
 0,
 0,
 0,
 1,
 0,
 0,
 1,
 0,
 1,
 1,
 1,
 0,
 0,
 0,
 0,
 1,
 1,
 1,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 1,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 1,
 1,
 0,
 0,
 1,
 0,
 1,
 1,
 0,
 1,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 0,
 1,
 1,
 1,
 1,
 0,
 0,
 1,
 0,
 0,
 1,
 1,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 1,
 1,
 1,
 0,
 0,
 1,
 0,
 1,
 0,
 1,
 0,
 0,
 0,
 0,
 1,
 1,
 0,
 1,
 0,
 1,
 1,
 0,
 0,
 1,
 1,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 1,
 0,
 1,
 0,
 1,
 0,
 1,
 0,
 1,
 0,
 0,
 1,
 0,
 0,
 0,
 1,
 0,
 0,
 1,
 0,
 0,
 0,
 1,
 1,
 1,
 1,
 0,
 0,
 0,
 0,
 1,
 0,
 1,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 1,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 0,
 1,
 0,
 0,
 0,
 0,
 1,
 1,
 1,
 1,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 0,
 1,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 1,
 1,
 1,
 0,
 0,
 0,
 1,
 1,
 0,
 0,
 0,
 1,
 0,
 1,
 0,
 0,
 1,
 0,
 1,
 1,
 0,
 1,
 0,
 0,
 1,
 1,
 0,
 0,
 1,
 0,
 0,
 1,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 0,
 0,
 1,
 0,
 1,
 0,
 0,
 1,
 0,
 1,
 0,
 1,
 0,
 0,
 0,
 1,
 1,
 1,
 1,
 0,
 0,
 1,
 0,
 0,
 1]

In [52]:
# convert numpy ndarray back to dataframe
predicted_data = pd.DataFrame(y_pred_all)

# append the predicted data to final file
df_test = pd.read_csv('titanic_test_data.csv')
df_test = pd.concat([df_test,predicted_data],axis=1) # append predicted y
df_test = df_test.rename(columns = {0:'Survived'}) # rename added column
df_test = df_test[['PassengerId', 'Survived']] # leave only requested columns for submit
df_test # check if correct

     PassengerId  Survived
0            892         0
1            893         0
2            894         0
3            895         0
4            896         0
..           ...       ...
413         1305         0
414         1306         1
415         1307         0
416         1308         0
417         1309         1

[418 rows x 2 columns]

In [53]:
# save result
df_test.to_csv('submission.csv', index=False)